<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigate.ejs') %>
    <main>
        <% if(products.length>0) {%>
            <ul>
                <%products.forEach(p=>{%>
                <li>
                      <P><%= p.productdata.title%>(<%= p.qty %>)</P>
                      <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="<%=p.productdata.id%>" name="id">
                        <button type="submit" class="btn">Delete</button>
                    </form>

                </li>   
                <%})%>
            </ul>
            <%} else {%>
                <h1>No product in cart</h1>
                <%}%>
    </main>
    <%- include('../includes/end.ejs') %>
